services:
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8081:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=Cluster-SUPMTI
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=hadoop-master:9092,hadoop-master:9093,hadoop-master:9094
      - KAFKA_CLUSTERS_0_ZOOKEEPER=hadoop-master:2181
    networks:
      - hadoop

networks:
  hadoop:
    external: true